<form class="ui big form" action="/accounts/editmember" method="POST">
    <div class="four fields">
        <div class="field">
            <label>First Name</label>
            <input placeholder="" type="String" name="firstname">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input placeholder="" type="String" name="lastname">
        </div>
        <div class="field">
            <label>Email</label>
            <input placeholder=""  type="String" name="email">
        </div>
        <div class="field">
            <label>Password</label>
            <input placeholder="" type="String" name="password">
        </div>
    </div>
    <button class="ui blue submit button">Confirm</button>
</form>
